@import "~bootstrap/scss/bootstrap.scss";

div {
    font-size: 6rem;
    color: rgb(107, 61, 94)
}

body {
    background-color: rgb(227, 145, 204);
    background-image: url("https://wallpaperaccess.com/full/2249559.png");
    background-repeat: no-repeat;
    background-size: auto;
}
